html {
	background-color: black;
	font-family: 'Baloo Bhaina', cursive;
}


.grilla{
	clear: both;
	margin-left: 30%;
	width: 400px;
	height: 400px;
	background-color: #ecf0f1;
	border: 4px solid #a8a3a8;
	
}

.colores {
	width: 190px;
	height: 100px;
	float: left;
	margin-right: 2.5px;
	margin-left:  2.5px;
	margin-top: 3%;
}

.elementos {
	background-color: ;
	float: left;
	height: 100px;
	margin-top: 10px;
}


.forma {

	width: 30px;
	height: 30px;
	border-radius: 180px;
	display: inline-block;

}

.elijocolor {
	position: absolute;
	margin-left: 29.5%;
	margin-top: 10px;
	width: 400px;
	height: 30%;
	background-color: #F0F0F0;
	clear: both;
	float: left;
	border: 4px solid #a8a3a8;
	border-radius: 16px 16px 16px 16px;
}
.elementos,.elementos1{
	width: 200px;

}

.celda {
	outline:1px solid #ECECEC;
	float: left;
	background-color: white;
}

.seleccionado {
	border:1px solid black;
	box-sizing: border-box;
}

.sin-borde {
	outline: none;
}

.input {
	margin-top: 10px;
	width: 150px;
}

.onoffgrilla,.borraimagen,.copiarimagen {
	width: 29.75%;
	height: 10%;
	font-size: 140%;
}

.parrafo {
	font-size: 100%;
	margin: 0px;
}

.botones-varios {
	margin-top: 10px;
}
.titulo {
	color: #e2e4ea;
	text-align: center;
	clear: both;
	font-size: 220%;
	text-decoration:underline;

}

.titulo1 {
	margin-top: 170px;
}

.letras {
	font-size: 30px;
	font-family: 'Baloo Bhaina', cursive;
}